@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    color: #0F172A;
    background-color: #F8FAFC;
  }
}

::selection {
  background-color: #36A8FA; /* brand-blue */
  color: white;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/90 backdrop-blur-md border border-slate-200 shadow-xl;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-brand-cyan transition-colors;
}
